body {
    background-color: rgb(207, 108, 136);
    color: rgb(1, 6, 27);
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

a:hover {
    color: white;
}
